In [1]:
import pandas as pd

In [2]:
prjs = pd.read_csv('data/projects_features.csv')

In [3]:
prjs_loc = pd.read_csv('data/projects_location.csv')

In [16]:
df = prjs[['id','pledged', '#backer']].merge(prjs_loc[['id','proj_location_display_name']])

In [20]:
df.head()

           id   pledged  #backer proj_location_display_name
0   515397789  18306.00     90.0                Madison, WI
1  2078514446   1500.00     30.0            Los Angeles, CA
2     8445205   7065.01    144.0               Portland, ME
3   472273248  10015.00     86.0                Chicago, IL
4  1755519177   1920.00     29.0            Los Angeles, CA

In [21]:
f = {'id':['count'], 'pledged':['sum', 'mean'], '#backer':['sum','mean']}

In [29]:
gp = df.groupby('proj_location_display_name').agg(f)

In [33]:
gp.columns = ['_'.join(a) for a in gp.columns.tolist()]

In [40]:
gp.sort_values('id_count', ascending=False).to_csv('data/city_features.csv')