In [2]:
import pandas as pd

In [3]:
ftr_loc = pd.read_csv('data/projects_location.csv')

In [5]:
df_incm = pd.read_csv('data/Disposible income.csv')

In [6]:
df_incm.head()

                  City   Income
0  Zurich, Switzerland  5689.08
1     Zug, Switzerland  4759.23
2      Zaragoza, Spain  1190.34
3      Zagreb, Croatia   852.45
4     Yerevan, Armenia   313.01

In [21]:
ftr_loc.head()

,id,proj_country,proj_state,proj_location_type,proj_location_name,proj_location_display_name,bio_loc,profile_loc,backer_cities,backer_countries
0,515397789,US,WI,Town,Madison,"Madison, WI","Madison, WI","Madison, WI","[{""city"": ""Madison"", ""cnt"": ""42"", ""country"": ""...","[{""country"": ""United States"", ""cnt"": ""87""}, {""..."
1,2078514446,US,CA,Town,Los Angeles,"Los Angeles, CA","Los Angeles, CA",NaN,"[{""city"": ""Chicago"", ""cnt"": ""10"", ""country"": ""...","[{""country"": ""United States"", ""cnt"": ""29""}, {""..."
2,8445205,US,ME,Town,Portland,"Portland, ME","Cornish, ME","Cornish, ME","[{""city"": ""Portland"", ""cnt"": ""34"", ""country"": ...","[{""country"": ""United States"", ""cnt"": ""103""}]"
3,472273248,US,IL,Town,Chicago,"Chicago, IL","Detroit, MI","Detroit, MI","[{""city"": ""Chicago"", ""cnt"": ""16"", ""country"": ""...","[{""country"": ""United States"", ""cnt"": ""81""}, {""..."
4,1755519177,US,CA,Town,Los Angeles,"Los Angeles, CA","Santa Monica, CA",NaN,"[{""city"": ""Los Angeles"", ""cnt"": ""13"", ""country...","[{""country"": ""United States"", ""cnt"": ""27""}, {""..."

In [19]:
def len_intrsctn(a,b):
    return len(set(a)-set(b)), len(set(b)-set(a))

In [9]:
loc_in_prj = ftr_loc.proj_location_display_name.value_counts().reset_index()
loc_in_prj.columns = ['City', 'prj_cnt']

In [16]:
loc_in_bio = ftr_loc.bio_loc.value_counts().reset_index()
loc_in_bio.columns = ['City', 'bio_cnt']

In [22]:
loc_in_prfl = ftr_loc.profile_loc.value_counts().reset_index()
loc_in_prfl.columns = ['City', 'prfl_cnt']

In [23]:
loc_in_prj.shape, df_incm.shape, loc_in_bio.shape, loc_in_prfl.shape

((11969, 2), (471, 2), (11754, 2), (10515, 2))

In [20]:
print len_intrsctn(loc_in_prj.City, df_incm.City)
print len_intrsctn(loc_in_bio.City, df_incm.City)
print len_intrsctn(loc_in_prj.City, loc_in_bio.City)

(11602, 104)
(11400, 117)
(3053, 2838)

In [27]:
loc_in_prj.merge(df_incm, how='outer').merge(loc_in_bio, how='outer').merge(loc_in_prfl, how='outer').to_csv('loc_list.csv')